* {
    margin: 0 auto;
    padding: 0;
    font-family: "PTSerif";
    font-size: 16px;
    color: #264061;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
    text-transform: uppercase;
    list-style: none;
}

.nav a {
    text-decoration: none;
    font-weight: normal;
}

.nav li:nth-child(-n+4) a:after {
    content: "\2022";
    position: relative;
    left: 15px;
}

.container {
    max-width: 1260px;
    width: 100%;
}

.one {
    background-image: url('img/bg.png');
    background-size: cover;
    width: 1800px;
}

.backimg {
    display: flex;
    align-items: center;
}

.logo {
    background-image: url('/img/Logo.png');
    height: 36px;
    width: 206px;
    background-repeat: no-repeat;
}

h5 {
    position: relative;
    margin-top: 40px;
    width: 400px;
    font-style: italic;
}

.numbertel p {
    margin-top: 10px;
    font-size: 32.58px;
    color: #fe4358;
    font-weight: bold;
}

.zakaz a {
    display: flex;
    justify-content: end;
    font-weight: normal;
}

.biglogo {
    font-size: 100px;
    margin-top: 340px;
    margin-left: 23px;
    font-weight: bold;
}

.biglogosignature {
    font-size: 30px;
    font-weight: bold;
    width: 430px;
    margin-top: 15px;
    margin-left: 30px;
}

.undermenu {
    margin-top: 100px;
    width: 1150px;
    display: flex;
    align-items: flex-end;
}

.undermenu label a {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.arrowdown {
    margin: 0 auto;
    width: 320px;
    height: 60px;
    margin-top: 18px;
}

.second {
    margin-top: 10px;
    background-image: url(img/Layer15.png);
    background-repeat: no-repeat;
    width: 1800px;
    height: 651px;
    /* border: 1px solid black; */
}

.line {
    background-image: url(img/Line.png);
    background-repeat: no-repeat;
    max-width: 717px;
    height: 25px;
    margin-top: 300px;
}

.circle1,
.circle2,
.circle3 {
    background-image: url(img/Circle1.png);
    background-repeat: no-repeat;
    width: 190px;
    height: 190px;
}

.circles {
    position: relative;
    margin-top: -100px;
    max-width: 1300px;
    display: flex;
}

.animal1 {
    background-image: url(img/Photo1.png);
    background-repeat: no-repeat;
    width: 278px;
    height: 172px;
    margin-left: 163px;
}

.animal2 {
    background-image: url(img/Photo2.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 234px;
    margin-left: 0;
}

.animal3 {
    background-image: url(img/Photo3.png);
    background-repeat: no-repeat;
    width: 114px;
    height: 213px;
    margin-left: 150px;
}

.animals {
    position: relative;
    margin-top: -152px;
    max-width: 1300px;
    display: flex;
    align-items: flex-end;
}

.animals_text {
    display: flex;
    position: relative;
    top: 10px;
    left: -30px;
    width: 1300px;
}

.text {
    text-align: center;
}

.usluga {
    font-size: 25px;
    font-weight: 900;
}

.bigtext {
    font-size: 35px;
    font-weight: 900;
}

.redprice {
    font-size: 40px;
    color: #FB4458;
    font-weight: 900;
}

.red {
    font-size: 18px;
    color: #FB4458;
    font-weight: 900;
}

.buttons {
    display: flex;
    position: relative;
    top: 50px;
    width: 1300px;
    left: -20px;
}

.buttons a {
    text-decoration: none;
    font-weight: bold;
}

.borderbutton2 {
    position: relative;
    left: 5px;
    top: -5px;
}

.button2 {
    position: absolute;
}

.read:before {
    content: 'Читать';
    position: relative;
    top: -28px;
    left: 97px;
    z-index: 1;
    color: white;
}

.read:after {
    position: relative;
    content: '\00BB';
    color: white;
    top: -28px;
    left: -30px;
}